@media (max-width: 575px) {
   .u-section-1 {
    min-height: 400px;
  }
} .u-section-2 {
  min-height: 50vw;
}

.u-section-2 .u-text-1 {
  margin: 0 auto;
}

.u-section-2 .u-custom-html-1 {
  margin-bottom: 0;
  margin-top: 0;
  height: auto;
  min-height: 707px;
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-top: 10px;
  }
}
