.u-section-1 .u-sheet-1 {
  min-height: 767px;
}

.u-section-1 .u-custom-html-1 {
  margin-bottom: 60px;
}

@media (max-width: 575px) {
  .u-section-1 .u-custom-html-1 {
    height: auto;
    min-height: 707px;
    margin-top: 0;
  }
}